# clang-format style options for 4.0+
---
IndentWidth: 4
---
Language: Cpp
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignOperands: true
AllowShortBlocksOnASingleLine: true
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Attach
BreakStringLiterals: true
ColumnLimit: 0
Cpp11BracedListStyle: true
DerivePointerAlignment: false
IndentCaseLabels: true
PointerAlignment: Left
SortIncludes: true
Standard: Cpp11
